.sfp-live-search-container {
	padding: 0;
}

.sfp-live-search-container > .sfp-live-search-field {
	display: block;
	width: 100%;
}

.sfp-live-search-results h3 {
	padding: 15px 20px 0;
	margin: 0;
}

.sfp-live-search-results div:first-child a {
	padding: 10px 20px;
}

.sfp-live-search-container{
	position: relative;
}

.sfp-live-search-results {
	display: none;
	position: absolute;
	background: white;
	padding: 0;
	left: 0;
	width: calc(100% - 4px);
	margin-left: 2px;
	min-width: 300px;
	z-index: 999;
	box-shadow: 0 1px 3px;
}

.sfp-live-search-container:hover .sfp-live-search-results,
.sfp-live-search-field:focus + .sfp-live-search-results {
	display: block;
}

.sfp-live-search-results a {
	display: block;
	font-weight: normal;
	padding: 10px 20px;
}

.sfp-live-search-results a:hover {
	background: #eeeeee;
}

.wcls-prod img {
	display: inline-block;
	vertical-align: middle;
	max-width: 40px;
	margin-right: 20px
}

.main-navigation .search-field.sfp-live-search-field {
	height: auto;
	width: 300px;
}

/* Header live search */

.sfp-header-live-search {
	width: 70%;
	margin: 0;
	float: right;
	position: relative;
}

.site-header .site-branding {
	clear: none;
}

.sfp-header-live-search .sfp-live-search-container:before {
	font: normal normal normal 20px/1 FontAwesome;
	content: "\f002";
	position: absolute;
	left: 14px;
	top: 50%;
	margin-top: -10px;
}



.sfp-header-live-search .sfp-live-search-field {
	padding-left: 3em;
}

.sfp-nav-stylecenter .site-branding {
	margin-bottom: 1em;
}
.sfp-nav-styleright .sfp-header-live-search .sfp-live-search-container {
	margin-left: 1em
}

.sfp-nav-styleleft-vertical .sfp-header-live-search,
.sfp-nav-stylecenter-inline .sfp-header-live-search,
.sfp-nav-stylecenter .sfp-header-live-search {
	width: calc(100% - 2em);
	max-width: 700px;
	float: none;
	margin: auto;
	clear: both;
}

.sfp-nav-styleleft-vertical .sfp-header-live-search {
}
